body {
    background-image: url("anoushka-p-f1YfrZ1o2r8-unsplash.jpg");
    background-color: blanchedalmond;
    background-size: 975px 1050px;
    
   }

.col-md-6{
    margin-top: 175px !important;
   
    border: 2px solid black;
    border-width: 2px;
}

input[type=text]
{
   width: 100%;
}
input[type=button]
{
   width: 100px;
   background-color: brown;
   font-weight: bolder;
   color: aliceblue;
   border: 3px solid black;
}

h1{
    font-weight: bolder !important;
    margin-top: 15px;
}